.about {

  background: #020817;

  color: white;

  padding: 100px 80px;

}


/* container layout */
.about-container {

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 80px;

}


/* LEFT SIDE */
.about-left {

  flex: 1;

}


/* tag */
.about-tag {

  color: #3b82f6;

  font-size: 14px;

  letter-spacing: 2px;

  margin-bottom: 15px;

}


/* heading */
.about-left h2 {

  font-size: 42px;

  margin-bottom: 20px;

  line-height: 1.2;

}


/* gradient text */
.about-left h2 span {

  background: linear-gradient(90deg, #3b82f6, #6366f1);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

}


/* description */
.about-desc {

  color: #94a3b8;

  line-height: 1.7;

  margin-bottom: 30px;

  max-width: 600px;

}


.about-features {

  display: flex;

  flex-direction: column;

  gap: 8px;

}


.feature {

  display: flex;

  align-items: center;

  gap: 12px;

}


.check {

  color: #3b82f6;

  font-size: 18px;

}


.about-right {

  flex: 1;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 25px;

}


.stat-card {

  background: linear-gradient(
    145deg,
    rgba(15, 23, 42, 0.6),
    rgba(2, 8, 23, 0.9)
  );

  padding: 35px;

  border-radius: 16px;

  text-align: center;

  border: 1px solid rgba(59, 130, 246, 0.1);

  transition: 0.3s;

}


.stat-card:hover {

  transform: translateY(-5px);

  border-color: rgba(59, 130, 246, 0.4);

}


.stat-card h3 {

  font-size: 36px;

  color: #3b82f6;

  margin-bottom: 10px;

}


.stat-card p {

  color: #94a3b8;

}



@media (max-width: 1024px) {

  .about-container {

    flex-direction: column;

  }

}
